<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8" />
<title>BABA | Neonatal Monitoring</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/gen.css" th:href="@{/gen.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/dash.css" th:href="@{/dash.css}" />
<script src="../static/script/index.js" th:src="@{/script/index.js}"></script>
</head>

<body>
	<div class="nav">
		<img class="banner" src="../static/Media/header.png" th:src="@{/Media/header.png}" />
	</div>
	<div class="content" id="style-2">
		<div class="deviceSelectionText">Select a device: </div>
		<select th:field="${devices}" class="deviceBox">
			<option th:each="device : ${devices}" th:value="${device.id}" th:text="${device.device_name} "></option>
		</select>
		<div class="measureBox">
			<div class="therm">
				<img id="thermometer" class="thermImg" th:src="@{/Media/medTherm.png}" />
			</div>
			<div class="measureHeading">Temperature</div>
			<div class="measureSub" id="tempReading">--</div>
			<div class="measureSub" id="tempReadingAvg">--</div>
		</div>
		<div class="measureBox">
			<div class="measureHeading">Humidity</div>
		</div>
		<div class="measureBox">
			<div class="measureHeading">Temperature</div>
		</div>
		<div class="measureBox">
			<div class="measureHeading">Temperature</div>
		</div>
		<div class="measureBox">
			<div class="measureHeading">Temperature</div>
		</div>
		<div class="measureBox">
			<div class="measureHeading">Temperature</div>
		</div>
	</div>
</body>
</html>
