<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8" />
<title>BABA | Neonatal Monitoring</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/gen.css" th:href="@{/gen.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/dash.css" th:href="@{/dash.css}" />
<script src="../static/script/index.js" th:src="@{/script/index.js}"></script>
<script src="../static/script/firebase.js" th:src="@{/script/firebase.js}"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
</head>

<body onload="initFirebase();getTemp();">
	<div class="nav">
		<img class="banner" src="../static/Media/header.png"
			th:src="@{/Media/header.png}" />
	</div>
	<div class="content" id="style-2">
		<div class="measureBox">
			<div class="measureHeading">Temperature</div>
			<p class="measureHeading" id="tempReading">--</p>
		</div>
		<div class="measureBox">
			<div class="measureHeading">Humidity</div>
		</div>
		<div class="measureBox">
			<div class="measureHeading">Temperature</div>
		</div>
	</div>
</body>
</html>
