<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>BABA | Neonatal Monitoring</title>
<link rel="stylesheet" type="text/css" media="all" href="../static/index.css" th:href="@{/index.css}" />
<link rel="stylesheet" type="text/css" media="all" href="../static/gen.css" th:href="@{/gen.css}"/>
<link rel="stylesheet" type="text/css" media="all" href="../Addons/QTip/jquery.qtip.css" th:href="@{../Addons/QTip/jquery.qtip.css}"/>
<link rel="shortcut icon" href="../static/Media/favicon.ico" th:href="@{/Media/favicon.ico}" type="image/x-icon" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../static/script/index_jquery.js" th:src="@{/script/index_jquery.js}"></script>
<script src="../static/Addons/QTip/jquery.qtip.js" th:src="@{/Addons/QTip/jquery.qtip.js}"></script>

</head>

<body>
	<div style="visibility: hidden;" id="cover" class="cover">
		<div class="loadingBox"><img id="loading" class="loadingImg" src="../static/Media/loading.png" th:src="@{/Media/loading.png}" /></div>
	</div>
	<div style="visibility: hidden;" id="registerPopup" class="cover">
		<div class="popup">
			<img src="../static/Media/close.png" th:src="@{/Media/close.png}" class="closeButton" id="reg-user-close" />
			<p class="popupHeader">Please Complete Sign-up</p>

      <form method="post" id="registerForm" action="#">
        <input type="text" id="firstName" name="firstName" class="signUpTextBox loginInput" placeholder="First Name"/>
        <img src="../static/Media/error.png" th:src="@{/Media/error.png}" class="errorImage" id="first_name_error" alt="Error" />
        <input type="text" id="lastName" name="lastName" class="signUpTextBox loginInput" placeholder="Last Name"/>
        <img src="../static/Media/error.png" th:src="@{/Media/error.png}" class="errorImage" id="last_name_error" alt="Error"/>
        <input type="email" id="email" name="email" class="signUpTextBox loginInput" placeholder="E-mail Address"/>
        <img src="../static/Media/error.png" th:src="@{/Media/error.png}" class="errorImage" id="email_error" alt="Error"/>
        <input type="text" id="username" name="create_username" class="signUpTextBox loginInput" placeholder="Username"/>
        <img src="../static/Media/error.png" th:src="@{/Media/error.png}" class="errorImage" id="username_error" alt="Error"/>
        <input type="text" id="phone" name="phone" class="signUpTextBox loginInput" placeholder="Phone Number"/>
        <img src="../static/Media/error.png" th:src="@{/Media/error.png}" class="errorImage" id="phone_error" alt="Error"/>
        <input type="password" id="password" name="create_password" class="signUpTextBox loginInputPassword" placeholder="Password"/>
        <img src="../static/Media/showPass.png" th:src="@{/Media/showPass.png}" class="passwordIcon" id="pass-img" alt="Password Show"/>
        <img src="../static/Media/error.png" th:src="@{/Media/error.png}" class="errorImage" id="pass_one_error" alt="Error" />
        <input type="password" id="passwordConfirm" name="passwordConfirm" class="signUpTextBox loginInputPassword" placeholder="Confirm Password"/>
        <img src="../static/Media/showPass.png" th:src="@{/Media/showPass.png}" class="passwordIcon" id="pass-conf-img" alt="Password Show"/>
        <img src="../static/Media/error.png" th:src="@{/Media/error.png}" class="errorImage" id="pass_two_error" alt="Error" />
        <input type="submit" id="createButton" value="Create Account" class="loginButton"/>
      </form>
		</div>
    <div style="visibility: hidden;" id="registerFormClose" class="cover_layer_two">
			<div class="registerFormClose">
				<img src="../static/Media/sleepingBaby.png" th:src="@{/Media/sleepingBaby.png}" class="regClosePaneImage" alt="close pane"/>
				<p>Are you sure you want to abandon your progress?</p>
					<span style="font-weight: bolder; text-decoration: underline;">Your current input will not be saved</span>
				<div id="reg_close" class="registerFormClose_button">Yes</div>
				<div id="reg_open" class="registerFormClose_button">No</div>
			</div>
		</div>
	</div>
	<div class="nav">
		<img class="banner" src="../static/Media/header.png" th:src="@{/Media/header.png}" />
	</div>
	<div class="content" id="style-2">
		<div class="contentPane">
			<div>
				<div class="ShortSideLines"></div>
				<p class="header">BABA - Neonatal Monitoring System</p>
				<div class="ShortSideLines"></div>
			</div>
			<div>
				<img src="../static/Media/feature_image.png" th:src="@{/Media/feature_image.png}" class="splashImage" />Baba is
				a neonatal monitoring system designed to increase the security and
				safety of infants, while keeping the parents confidence in mind.
				Baba is a sensory device that will monitor your infants
				enviornmental conditions. Parameters such as Temperature, Humidity,
				Gas levels. Baba also offers features such as live video and audio
				streaming, abilility to playlullabies for infants. <br />
				<br />Baba has been designed with state of the art sensors,
				developed with efficiency in mind. The overall aim of the system is
				to provide a higher level of care for infants, while not increasing
				the workload of already busy parents. Baba comes with a companion
				application which is available on the Google Play Store. With this
				application the parent can monitor their infant from the comfort of
				their couch, or even on the go.<br />
				<br />Your infants safety is the #1 priority!
			</div>
		</div>
		<div class="loginPane">
			<div class="sideLines"></div>
			<img src="../static/Media/sleepingBaby.png" th:src="@{/Media/sleepingBaby.png}" class="loginPaneImage" />
			<div class="sideLines"></div>
			<p class="errorBar" th:text="${error}"></p>
			<form id="loginForm">
				<img class="textBoxIcon" src="../static/Media/username.png" th:src="@{/Media/username.png}" />
				<input type="text" id="loginUsername" name="username" class="loginInput" placeholder="Username" />
				<img id="loginEmailIcon" class="textBoxIcon" src="../static/Media/password.png" th:src="@{/Media/password.png}" />
				<input type="password" name="password" id="loginPassword" class="loginInputPassword" placeholder="Password" />
				<img src="../static/Media/showPass.png" th:src="@{/Media/showPass.png}" class="passwordIcon" onmouseover="passDisplay('loginPassword')" onmouseout="passHide('loginPassword')" />
				<input type="submit" class="loginButton" />
				<p class="loginRegister" id="reg-user">Not a member yet? <a class="link">Register Now</a></p>
				<p class="loginRegister" id="loginError" style="visibility: hidden;">Incorrect Username/Password</p>
			</form>
		</div>
		<div class="companionPane">
			<img src="../static/Media/playStore.png" class="appStoreLabel" th:src="@{/Media/playStore.png}" />
			<img src="../static/Media/appStore.png" class="appStoreLabel" th:src="@{/Media/appStore.png}" />
		</div>
	</div>
</body>
</html>
