body{
  font-family: "Arial";
  background-image: url("Media/babyBackground.png");
}

@include keyframes(scrollBad) {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -320px;
  }
}

.header{
  text-align: center;
  font-size: 3.5vh;
  font-weight: bolder;
  width: 60%;
  float: left;
}

.body{
  background-color: #b0e57c;
  margin: 0;
}
.nav{
  height: 15vh;
  width: 100%;
  background-color: #fff;
  border-bottom: 1vh solid #000;
}
.logo{
  width: 9%;
  margin-left: 45%;
  height: 13vh;
  margin-top: 1vh;
}

.loginPane{
  width: 30%;
  height: auto;
  float: left;
  background-color: #84E184;
  border-radius: 20px 20px 0px 0px;
  margin-top: 5vh;
  margin-left: 4.25%;
}

.contentPane{
  margin-left: 3%;
  width: 56%;
  height: 69vh;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 5vh;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-size: 2.6vh;
}

.appStoreLabel{
  width: 40%;
  height: 8vh;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.companionPane{
  width: 30%;
  margin-left: 4.25%;
  margin-top: 2vh;
  background-color: rgba(255, 255, 255, 0.8);
  float: left;
  position: relative;
  border-radius: 0px 0px 20px 20px;
}

.loginInput{
  height: 6.25vh;
  font-size: 3vh;
  width: 58%;
  padding-left: 2%;
  background-color: #dadada;
  border: solid #dadada thick;
  float: left;
  margin-bottom: 1vh;
  position: relative;
}

.loginPaneImage{
  width: 15%;
  height: 9vh;
  margin-top: 5vh;
  margin-bottom: 3vh;
  float: left;
}

.link{
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.loginRegister{
  font-size: 2.5vh;
  text-align: center;
  margin-bottom: 9vh;
}

.sideLines{
  margin-top: 10vh;
  height: 0.5vh;
  width: 22.5%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #000;
  float: left;
  margin-bottom: 7vh;
}

.ShortSideLines{
  height: 0.5vh;
  width: 18%;
  background-color: #000;
  float: left;
  margin-top: 5.5vh;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 5vh;
}

.textBoxIcon{
  position: relative;
  width: 13%;
  height: 8vh;
  background-color: #b5b5b5;
  margin-left: 10%;
  float: left;
}

.loginButton{
  background-color: #ffff4c;
  border: solid #cccc3c medium;
  font-weight: bold;
  width: 50%;
  height: 8vh;
  margin-left: 25%;
  margin-top: 2vh;
  font-size: 3vh;
}
