.measureBox{
  height: 30vh;
  margin-top: 5vh;
  width: 28.8%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #BD3525;
  border: #000 solid medium;
  float: left;
}

body{
  font-family: "Arial";
  background-color: #2e2e2e;
  fonr-size: 3em;
} 

.measureHeading{
  font-size: 4vh;
  font-weight: bolder;
  color: #fff;
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 2vh;
}
