.sidebar{
  width: 15%;
  border-right: solid medium #000;
  float: left;
  background-color: #fcfc9a;
  height: 81vh;
  position: fixed;
}
.sidebar_tab{
  font-size: 3vh;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  border-bottom: thin solid #000;
  float: left;
  height: 3vh;
  padding-top: 3.5vh;
  padding-bottom: 3.5vh;
  overflow-x: visible;
}

.selected_tab{
  font-weight: bolder;
  background-color: #f7f9f9;
  width: 102%;
  border-right: none;
}

.col{
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  float: left;
  padding-bottom: 2vh;
}

.settingsPanel_main{
  margin-top: 0;
  border-radius: 0;
  background-color: #c68dff;
  margin-top: 0.5vh;
}

hr{
  width: 100%;
  background-color: #000;
  height: 0.5vh;
  border: none;
  /* margin-left: 10%;
  margin-right: 10%; */
}
.settings_heading{
  font-size: 3vh;
  font: "Arial";
  color: #000;
  float: left;
  font-weight: bolder;
}
.settings_subheading{
  font-size: 2.5vh;
  font: "Arial";
  color: #000;
  float: left;
  font-weight: bolder;
}

.settings_subheading_text{
  font-size: 2.5vh;
  font: "Arial";
  color: #000;
  float: left;
  text-decoration: underline;
}

.settings_library{
  width: 96%;
  margin-left: 2%;
  height: 20vh;
  font: "Arial";
  font-size: 2.5vh;
  overflow-y: scroll;
}

table{
  font-size: 2.5vh;
  text-align: left;
}

.cell{
  border-bottom: solid thin #000;
  font-weight: normal;
}

.tableTop{
  background-color: #DCDCDC;
  font-weight: bolder;
}

.track{
  width: 45%;
}
.time{
  width: 15%;
}
.addedBy{
  width: 20%:
}

.settings_general_text{
  font-size: 2.5vh;
  font: "Arial";
  color: #000;
  float: right;
  /* margin-left: 5%; */
  width: 30%;
  text-align: left;
  margin-right: 30%;
}

.settings_edit{
  font-size: 2vh;
  font: "Arial";
  color: #000;
  font-weight: bold;
  text-align: right;
  float: right;
}

.settings_content{
  font-size: 2.3vh;
  font: "Arial";
  color: #000;
  float: left;
  margin-right: 5%;
}

.setting_panel{
  overflow-y: auto;
  position: fixed;
  width: 79.3%;
  margin-left: 15.5%;
  padding-top: 3vh;
  padding-left: 2%;
  padding-right: 2%;
  height: auto;
}

::-webkit-scrollbar {
    width: 0.4%;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 20px #000;
}
